[core]
    editor = /usr/bin/vim
    pager = lv -lc
    excludesfile = $HOME/.gitconfig
    quotepath = false
[user]
    name = Seiji Sawayanagi
    email = mostlyfine@gmail.com
[color]
    ui = auto
[alias]
    b = branch
    ba = branch -a
    co = checkout
    ci = commit -v
    s = status --short --branch
    st = status
    pr = pull --rebase
    d = diff
    dw = diff --word-diff=color
    url = config --get remote.origin.url
    l = log --decorate
    ls = log --stat --decorate
    lp = log -p --decorate
    lo = log --oneline --graph --decorate
    h = log --graph --date=short --pretty=format:'%C(cyan)%h %C(blue)%cd %C(green)%cn %Creset%s%C(yellow)%d'
    delete-merged-branches = !git branch --merged | grep -v \"*\" | sed -e \"s/^[0-9: ]*//g\" | xargs -I % git branch -d %
    cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
    see = browse

[push]
	default = tracking

[merge]
  ff = false # from 1.7.6

[commit]
	cleanup = strip # from 1.8.1

[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line

[ghq]
  root = ~/src
