[core]
    editor = vim -c \"set fenc=utf-8\"
    excludesfile = ~/dotfiles/.gitignore_global
    quotepath = false
    precomposeunicode = true
    pager = (delta 2>/dev/null) || less
[user]
    name = mostlyfine
    email = mostlyfine@gmail.com
[color]
    ui = auto
[alias]
    b = branch
    ba = branch -a
    bp = !git checkout $(git branch --color | awk '{print $NF}' | fzf --ansi --preview 'git log --color --date=short --pretty=format:\"%Cgreen%cd%Creset %C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset\" {}')
    co = checkout
    ci = commit -v
    st = status
    de = !vim $(git diff --name-only | fzf --preview 'git diff -U0 --color=always {} | awk \"NR>=6 {print}\"')
    pre = pull --rebase
    df = diff --patience --find-renames
    dw = diff --word-diff=color
    g = grep -iw
    find = !vim $(git grep -in $1 | fzf | awk -F: '{print \"+\"$2\" \"$1}')
    url = config --get remote.origin.url
    l = log --decorate --find-renames
    ls = log --stat --decorate --find-renames
    lp = log -p --decorate --find-renames
    i = !git show $(git log --oneline --color | fzf --ansi --height 60% --preview 'echo {} | cut -f 1 -d \" \" | xargs git show --color' | cut -f 1 -d \" \")
    h = log --graph --date=iso --pretty=format:'%C(cyan)%h %C(yellow)%cd %C(green)%cn %Creset%s%C(magenta)%d'
    delete-merged-branches = !git branch --merged | grep -v \"*\" | sed -e \"s/^[0-9: ]*//g\" | xargs -I % git branch -d %

[push]
	default = matching # from 1.8

[merge]
  ff = false # from 1.7.6

[pull]
  ff = only # from 2.0

[commit]
	cleanup = strip # from 1.8.1

[tig "bind"]
  generic = E view-grep
  generic = g move-first-line
  generic = G move-last-line
  main = G move-first-line
  main = G move-last-line

[tig]
  diff-highlight = true

[ghq]
  root = ~/src

[delta]
  file-style = yellow
  navigate = true
  side-by-side = true
  line-numbers = true
  light = false

[interactive]
  diffFilter = (delta --color-only 2>/dev/null) || cat

[diff]
  compactionHeuristic = true
  colorMoved = default

[init]
	defaultBranch = main

[include]
  path = ~/dotfiles/.gitconfig_local
