.vim/doc/tags
.vim/doc/tags-ja
.vim/bundle
.DS_Store
.vim/.netrwhist
.vim/plugged
.vim/pack
tags
TAGS
*.swp
*.bak
.vscode
.vim/.yankring_history_v2.txt
.vim/copilot-chat
.zcompdump
zsh.d/*.zsh
.vstags
.tool-versions
.envrc
.zshrc_local
.gitconfig_local
mise.toml
.mise.toml
mise.local.toml
.mise.local.toml
