[core]
    editor = /usr/bin/vim
    pager = lv -lc
    excludesfile = $HOME/.gitconfig
[user]
    name = Seiji Sawayanagi
    email = mostlyfine@gmail.com
[color]
    ui = auto
[alias]
    b = branch
    ba = branch -a
    co = checkout
    ci = commit -v
    s = status --short --branch
    st = status
    pr = pull --rebase
    d = diff
    dw = diff --word-diff=color
    url = config --get remote.origin.url
    l = log --decorate
    ls = log --stat --decorate
    lp = log -p --decorate
    lo = log --oneline --graph --decorate
    h = log --graph --date=short --pretty=format:'%Cblue%h %cd %Cgreen%cn %Creset%s'
    delete-merged-branches = !git branch --merged | grep -v \"*\" | sed -e \"s/^[0-9: ]*//g\" | xargs -I % git branch -d %

[push]
	default = tracking

[branch]
  autosetuprebase = always

[merge]
  ff = false # from 1.7.6

[pull]
  rebase = true # from 1.7.9

[commit]
	cleanup = strip # from 1.8.1
