# Theme
theme = iTerm2 Dark Background

# Font
font-family = UDEV Gothic Regular
font-size = 23
font-feature = -dlig
alpha-blending = linear
adjust-cell-width = -2
adjust-cell-height = -2

# Shell
shell-integration = zsh
shell-integration-features = no-cursor

# Display
cursor-style = block
cursor-style-blink = false
mouse-hide-while-typing = true
macos-titlebar-style = tabs

## Keybindings
macos-option-as-alt = true
keybind = cmd+d=new_split:right
keybind = cmd+shift+d=new_split:down
keybind = cmd+left_bracket=goto_split:previous
keybind = cmd+right_bracket=goto_split:next
keybind = cmd+w=close_surface
#keybind = cmd+f=start_search

# Window
window-width = 150
window-height = 30
window-padding-x = 4
window-padding-y = 4
window-padding-balance = true
window-save-state = always
confirm-close-surface = false
quit-after-last-window-closed = true

# Hotkey Window
keybind = global:opt+space=toggle_quick_terminal
quick-terminal-position = bottom
quick-terminal-animation-duration = 0.2
quick-terminal-size = 30%
quick-terminal-autohide = true

# Other
term = xterm-256color
link-url = true
link-previews = true
auto-update = check
